{% extends 'base.html.twig' %}

{% block title %}Starshop: Beam up some parts!{% endblock %}

{% block body %}
  <main class="flex flex-col lg:flex-row">
    <div class="px-12 pt-10 w-full">
      <h1 class="text-4xl font-semibold mb-8">
        Title
      </h1>

      <div class="space-y-5">
        Content
      </div>
    </div>
  </main>
{% endblock %}
